.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.individualLink{
  text-decoration: none;
}

.searchList{
  display: flex;
  justify-content: space-around;
}

.categoryList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.categoryMeals{
  width: 20%;
  padding: 1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
}
